<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/mk_stats_logo"
        android:label="${appLabel}"
        android:supportsRtl="true"
        android:name=".application.MainApplication"
        android:theme="@style/AppThemeWaluigi"
        android:dataExtractionRules="@xml/data_extraction_rules">

        <receiver android:name=".widget.MKWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>
        <service
            android:name=".widget.MKWidgetFetchService"
            android:enabled="true" />

        <service
            android:name=".widget.MKWidgetJobService"
            android:label="Widget service"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".service.AlertNotificationService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>